.App {
  text-align: center;
}

li {
  list-style-type: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid black;
}

input[type="checkbox"]:checked {
  background: green;
}
